.container {
    h1 {
        text-align: center;
    }
    .options {
        padding: 10px;
        margin: 12px;
        text-align: center;
        button {
            font-size: 1.1em;
        }
    }
    .btn-add {
        margin: 10px;
    }
}
